.details {
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
}

.orderId {
    text-shadow: 0px 0px 14px rgba(76,76,255,1);
    margin-bottom: 32px;
}

.img {
    padding: 60px 0;
}

.img>span {
    display: inline-block;
    margin: 0 auto;
}

.p {
    margin-bottom: 8px;
}