.register {
    text-align: center;
    width: 480px;
    height: 430px;
    margin: 172px auto 0 auto;
}

.h1 {
    margin-bottom: 24px;
}

.formGroup {
    margin-bottom: 24px;
}

.buttonGroup {
    margin-bottom: 80px;
}

.navigate li {
    margin-bottom: 16px;
}

.navigate li a {
    margin-left: 10px;
    color: #4C4CFF;
    font-size: 16px;
    text-decoration: none;
}

.navigate li a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-bottom: 20px;
}