.main {
    padding: 100px 16px 40px 16px;
    height: 100%;
}

.items {
    text-align: right;
}

.empty {
    border: 2px dashed #FFF;
    height: 100%;
    padding: 100px 0;
    text-align: center;
    max-height: 542px;
}

.empty>h2 {
    font-size: 20px;
}

.items>section {
    margin-bottom: 16px;
    position: relative;
}

.items>section>div {
    display: inline-block;
    width: 100%;
    max-width: 536px;
    position: relative;
}

.items>section>div>svg,
.items>section>div>div>svg {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -24px;
    cursor: pointer;
}

.items>section>div {
    margin-bottom: 16px;
}

.items>section>div:last-child {
    margin-bottom: 0;
}

.middle {
    max-height: 350px;
    overflow-y: scroll;
}

.middle::-webkit-scrollbar {
    width: 8px;
}
.middle::-webkit-scrollbar-track {
    background: #2F2F37;
}
.middle::-webkit-scrollbar-thumb {
    background-color: #8585AD;
}

.middle {
    right: -16px;
}

.middle>div {
    margin-right: 8px;
}

.middle>div>svg {
    cursor: pointer;
}

.actions {
    margin-top: 40px;
    text-align: right;
}

.actions>div {
    display: inline-flex;
    align-items: center;
}

.price {
    margin-right: 40px;
}

.price>span {
    margin-right: 8px;
    display: inline-block;
    vertical-align: top;
}

.price svg {
    width: 35px;
    height: auto;
}